
*{
    margin: 0;
    
    font-family: monospace,'Courier New', Courier ;
}
/*Header and hyperlinks*/
header{
    background-color: rgb(74, 133, 243);
    border-bottom: 3px solid rgb(253, 3, 3);
    padding: 1%;
    color: white;
    height: 10%;
}

header .header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1%;
    align-content: center;
    align-items: center;
}
header .header .navigate{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-gap: 2%;
    align-items: center;
}
/*setting grid for the media div class*/
header .header .navigate .media{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 5%;
    justify-content: center;
    justify-items: center;
    border-left: 2px solid red;
    border-right: 2px solid rgb(250, 250, 250);
    padding: 2%;

}
header .header a{
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 1.4%;
    color: white;
}
/*Links hovering effects*/
header .header a:hover{
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: rgb(74, 133, 243);
    
}
/*Working the section elements*/
.aboutUs{
    background-color: aliceblue;
    padding: 2%;
    display: none;
}
.video video{
   margin: 0;
   background-color: transparent;
   width: 99%;
   border: 2px solid white;
  box-shadow: 1px 2px 1px black;
}

/*Working the body main elements*/
body main{
    background-color: white;   
}

main .main{
    margin-left: 2%;
    display: grid;
    grid-template-columns: 0.9fr 2fr;
    grid-gap: 1%;
}
main .main .nav{
    grid-column: 1/1;
    background-color: rgb(74, 133, 243);
    padding: 1%;
    color: white;
    margin-top: 5%;
    align-content: center;
    height: 100%;
}

main .nav select{
    padding: 1%;
    width: 98%;
    font-size: 1.4em;
    text-align: center;
    background-color: white;
    border: 2px solid transparent;
    border: 2px solid rgb(248, 248, 250);
    margin-top: 10%;
    color: rgb(10, 10, 10);
    
    
}
main .nav select option{
    color: rgb(253, 254, 255);
    background-color: rgb(74, 133, 243);
}

/*Working the main display div elements*/
main .display{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1%;
    margin-right: 5%;
    color: white;
    
}
main .display{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    color: black;
   
}
#box-one{
    background-color: rgb(74, 133, 243);
    padding: 2%;
    width: 95%;
    height: 100%;
    margin: 5%;
    box-shadow: 1px 2px 1px black;
    color: white;
    border-radius: 10%/10%;
}
#box-two{
    background-color: rgb(74, 133, 243);
    padding: 2%;
    width: 95%;
    height: 100%;
    margin: 5%;
    color: white;
    border-radius: 10%/10%;
    box-shadow: 1px 2px 1px black;
}
#box-three{
    background-color: rgb(74, 133, 243);
    padding: 2%;
    width: 95%;
    height: 100%;
    margin: 5%;
    box-shadow: 1px 2px 1px black;
    color: white;
    border-radius: 10%/10%;
}
#box-four{
    background-color: rgb(74, 133, 243);
    padding: 2%;
    width: 95%;
    height: 100%;
    margin: 5%;
    color: white;
    border-radius: 10%/10%;
    box-shadow: 1px 2px 1px black;
}

/*Comment classes*/
.comments{
    margin-top: 10%;
    display: block;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.comments h2{
    text-align: center;
    width: 100%;
}
/*Textarea button*/
.textarea button{
    background-color: rgb(74, 133, 243);
    color: white;
    border-radius: 10%/10%;
    border: 2px solid transparent;
    padding: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;
}
.textarea button:hover{
    color: rgb(255, 4, 0);
    box-shadow: 2px 2px 2px red;
    background-color: yellow;
}
.textarea{
    grid-column: 1;
    width: 100%;
}
/*Textarea and input*/
.textarea textarea{
    width: 95%;
    background-color: rgb(74, 133, 243);
    color: white;
    padding: 2%;
    border: 2px solid transparent;
    border-bottom: 2px solid red;
}
.textarea input{
    width: 98%;
    margin-top: 2%;
    border: 2px solid transparent;
    background-color: rgb(74, 133, 243);
    color: white;
}

.comments .posts{
    background-color: aliceblue;
    margin-left: 2%;
    padding: 2%;
}

/*Working on footer*/
footer .footer{
    margin-top: 5%;
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    
}

footer .footer .contacts{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: left;
    align-items: center;
    background-color: white;
    color: rgb(245, 6, 6);
    padding: 1%;
    border-top: 2px solid red;
    text-align: center;
    
    
    
}
footer .footer .contacts a{
    text-decoration: none;
    color: rgb(69, 97, 149);
    margin-right: 1.4%;
    margin-left: 1%;
    text-align: center;
    font: 1.5em monospace;
    

}
footer .footer .contacts .info{
    border-right: 2px solid red;
    padding: 1%;
}
footer .footer .contacts .info h2{
    color: white;
    background-color: rgb(60, 102, 180);
    border-radius: 5%/10%;
}
footer .footer .contacts a:hover{
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: rgb(74, 133, 243);
    box-shadow: 1px 2px 2px rgb(0, 0, 0);
}
footer .footer #copyright{
    color: rgb(254, 254, 255);
    background-color: rgb(74, 133, 243);
    align-content: center;
    padding: 1%;
    text-align: center;
}